.frame {
  aspect-ratio: var(--w) / var(--h);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-mid);
}

.frame > img,
.frame > video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  max-inline-size: max(70ch, 100%);
}

.ar-16\:9 {
  --w: 16;
  --h: 9;
}

.ar-4\:3 {
  --w: 4;
  --h: 3;
}

.ar-1\:1 {
  --w: 1;
  --h: 1;
}
