.section-main {
  padding-block: calc(var(--padding-composition) * 2);
  --space-stack: var(--padding-composition);
}

.section-main h2 {
  text-transform: capitalize;
}

.section-main .frame {
  max-inline-size: 70ch;
}

.section-main .frame ~ p {
  --space-flow: var(--s1);
}
